@media only screen and (max-width: 500px) {
  .container{
    display: flex;
    flex-direction: column;
    width: 560px;
    height: 1920px;
  }


  /* Daniel */
  .box-1 {
    width: 270px;
    height: 375px;
    background-color: hsl(263, 55%, 52%);
    /* grid-column: 1 / span 2; */
    border-radius: 10px;
    /* color: hsl(210, 46%, 95%); */
    padding: 25px;
    position: relative;
    /* box-shadow: 10px 20px 50px  hsl(0, 0%, 81%); */
  }
  .daniel {
    position: relative;
  }
  .box-1 .pattern {
    position: absolute;
    right: 15px;
    top: 0px;
    height: 90px;
  }

  .daniel img {
    border: 1px solid hsl(210, 46%, 95%);
    border-radius: 50%;
    height: 25px;
    width: 25px;
    float: left;
  }
  .daniel h3 {
    margin-left: 2.5rem;
    color: hsl(210, 46%, 95%);
    font-size: 12px;
  }
  .box-1 .info {
    margin-left: 2.5rem;
    color: hsl(210, 46%, 95%);
    opacity: 50%;
    font-size: 10px;
  }
  .box-1 .about {
    font-size: 15px;
    margin: 1rem auto;
    color: hsl(0, 0%, 100%);
    font-weight: 500;
    line-height: 19px;
  }
  .box-1 .p {
    color: hsl(0, 0%, 81%);
    opacity: 70%;
    line-height: 15px;
    font-size: 10px;
  }
}


/* Jonathan Walter */
@media only screen and (max-width: 500px) {
.box-2 {
  background-color: hsl(217, 19%, 35%);
  border-radius: 10px;
  margin-top: -1rem;
  padding: 25px;
  width: 270px;
  height: 205px;
  /* box-shadow: 10px 20px 50px  hsl(0, 0%, 81%); */
}
.Jonathan img {
  border: 1px solid hsl(217, 19%, 35%);
  border-radius: 50%;
  height: 25px;
  width: 25px;
  float: left;
}
.Jonathan h3 {
  margin-left: 2.5rem;
  color: hsl(210, 46%, 95%);
  font-size: 12px;
}
.box-2 .info {
  margin-left: 2.5rem;
  color: hsl(210, 46%, 95%);
  opacity: 50%;
  font-size: 10px;
}
.box-2 .about {
  font-size: 15px;
  margin: 1rem auto;
  color: hsl(0, 0%, 100%);
  font-weight: 500;
  line-height: 19px;
}
.box-2 .p {
  color: hsl(0, 0%, 100%);
  opacity: 70%;
  line-height: 15px;
  font-size: 10px;
}
}


/* Jeanette */
@media only screen and (max-width: 500px) {
.box-4 {
  background-color: hsl(0, 0%, 100%);
  border-radius: 10px;
  padding: 33px;
  width: 270px;
  height:205px ;
  margin-top: -1rem;
  /* box-shadow: 10px 20px 50px  hsl(0, 0%, 81%); */
}
.Jeanette img {
  border: 2px solid hsl(0, 0%, 100%);
  border-radius: 50%;
  height: 25px;
  width: 25px;
  float: left;
}
.Jeanette h3 {
  margin-left: 2.5rem;
  color: hsl(217, 19%, 35%);
  font-weight: 500;
  font-size:12px ;
}
.box-4 .info {
  margin-left: 2.5rem;
  color: hsl(217, 19%, 35%);
  opacity: 50%;
  font-size: 10px;
}
.box-4 .about {
  font-size: 15px;
  margin: 1rem auto;
  color: hsl(217, 19%, 35%);
  font-weight: 500;
  line-height: 19px;
}
.box-4 .p {
  color: hsl(217, 19%, 35%);
  opacity: 70%;
  line-height: 15px;
  font-size: 10px;
}
}

/* Patrick */
@media only screen and (max-width: 500px){
.box-5 {
  background-color: hsl(219, 29%, 14%);
  grid-column: 2 / 4;
  border-radius: 10px;
  padding: 33px;
  width: 270px;
  height:345px ;
  margin-top: -1rem;
  /* box-shadow: 10px 20px 50px  hsl(0, 0%, 81%); */
}
.Patrick img {
  border: 2px solid hsl(263, 55%, 52%);
  border-radius: 50%;
  height: 25px;
  width: 25px;
  float: left;
}
.Patrick h3 {
  margin-left: 2.5rem;
  color: hsl(210, 46%, 95%);
  font-size: 12px;
}
.box-5 .info {
  margin-left: 2.5rem;
  color: hsl(210, 46%, 95%);
  opacity: 50%;
  font-size: 10px;
}
.box-5 .about {
  font-size: 24px;
  margin: 1rem auto;
  color: hsl(0, 0%, 100%);
  font-weight: 500;
  line-height: 19px;
  font-size: 15px;
}
.box-5 .p {
  color: hsl(0, 0%, 100%);
  opacity: 70%;
  line-height: 15px;
  font-size: 10px;
}
}


/* Kira */
@media only screen and (max-width: 500px){
.box-3 {
  background-color: hsl(0, 0%, 100%);
  border-radius: 10px;
  padding: 25px;
  width: 270px;
  height: 395px;
  margin-top: -1rem;
  box-shadow: 10px 20px 50px  hsl(0, 0%, 81%);
}
.Kira img {
  border: 2px solid hsl(0, 0%, 100%);
  border-radius: 50%;
  height: 25px;
  width: 25px;
  float: left;
}
.Kira h3 {
  margin-left: 2.5rem;
  color: hsl(217, 19%, 35%);
  font-weight: 500;
  font-size: 12px;
}
.box-3 .info {
  margin-left: 2.5rem;
  color: hsl(217, 19%, 35%);
  opacity: 50%;
  font-size: 10px;
}
.box-3 .about {
  font-size: 24px;
  margin: 1rem auto;
  color: hsl(219, 29%, 14%);
  font-weight: 600;
  line-height: 19px;
  font-size: 15px;
}
.box-3 .p {
  color: hsl(219, 29%, 14%);
  opacity: 70%;
  line-height:15px;
  font-size: 10px;
}
}