@media only screen and (max-width: 1200px) {
  

.container {
  background-color: hsl(210, 46%, 95%);
  /* max-width: 1100px; */
  width: 70%;
  margin: 100px auto;
  
}
.grid{
  /* max-width: 810px; */
  margin: 20px auto;
  /* padding: 20px; */
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows:auto auto auto auto;
  gap:30px;
}
.box-1 .pattern {
  height: 113px;
  width: 110px;
}
/* Daniel */
.box-1 {
  background-color: hsl(263, 55%, 52%);
  grid-column: 1 / span 2;
  border-radius: 10px;
  padding: 33px;
  position: relative;
}

.daniel {
  position: relative;
}

.profile img {
  border: 2px solid hsl(210, 46%, 95%);
  border-radius: 50%;
  height: 30px;
  width: 30px;
  float: left;
}
.profile h4 {
  margin-left: 3rem;
  color: hsl(210, 46%, 95%);
}
.box-1 .info {
  margin-left: 3rem;
  color: hsl(210, 46%, 95%);
  opacity: 50%;
  font-size: 13px;
}
.box-1 .about {
  font-size: 24px;
  margin: 1rem auto;
  color: hsl(0, 0%, 100%);
  font-weight: 400;
  max-width: 735px;
  
}
.box-1 .p {
  color: hsl(0, 0%, 100%);
  opacity: 70%;
  line-height: 18px;
  font-size: 15px;
  font-weight: 300;
  word-spacing: 2px;
}

/* Jonathan Walter */
.box-2 {
  background-color: hsl(217, 19%, 35%);
  border-radius: 10px;
  padding: 33px;
  grid-template-columns: 2/3;
  grid-template-rows: 2/3;
}
.Jonathan img {
  border: 2px solid hsl(217, 19%, 35%);
  border-radius: 50%;
  height: 30px;
  width: 30px;
  float: left;
}
.Jonathan h4 {
  margin-left: 3rem;
  color: hsl(210, 46%, 95%);
}
.box-2 .info {
  margin-left: 3rem;
  color: hsl(210, 46%, 95%);
  opacity: 50%;
  font-size: 13px;
}
.box-2 .about {
  font-size: 24px;
  margin: 1rem auto;
  color: hsl(0, 0%, 100%);
  font-weight: 400;
  max-width: 735px;
}
.box-2 .p {
  color: hsl(0, 0%, 100%);
  opacity: 70%;
  line-height: 18px;
  font-size: 15px;
  font-weight: 300;
  word-spacing: 2px;
}

/* Kira */
.box-3 {
  background-color: hsl(0, 0%, 100%);
  border-radius: 10px;
  padding: 33px;
  grid-column: 1/3;
  grid-row: 4/5;
  box-shadow: 10px 20px 50px hsl(0, 0%, 81%);
}
.Kira img {
  border: 2px solid hsl(0, 0%, 100%);
  border-radius: 50%;
  height: 30px;
  width: 30px;
  float: left;
}
.Kira h4 {
  margin-left: 3rem;
  color: hsl(217, 19%, 35%);
  font-weight: 500;
}
.box-3 .info {
  margin-left: 3rem;
  color: hsl(217, 19%, 35%);
  opacity: 50%;
  font-size: 13px;
}
.box-3 .about {
  font-size: 24px;
  margin: 1rem auto;
  color: hsl(219, 29%, 14%);
  font-weight: 600;
  max-width: 735px;
}
.box-3 .p {
  color: hsl(219, 29%, 14%);
  opacity: 70%;
  line-height: 18px;
  font-size: 15px;
  font-weight: 400;
  word-spacing: 2px;
}
/* Jeanette */
.box-4 {
  background-color: hsl(0, 0%, 100%);
  border-radius: 10px;
  padding: 33px;
  grid-column: 1/2;
  grid-row: 2/3;
  box-shadow: 10px 20px 50px hsl(0, 0%, 81%);
}
.Jeanette img {
  border: 2px solid hsl(0, 0%, 100%);
  border-radius: 50%;
  height: 30px;
  width: 30px;
  float: left;
}
.Jeanette h4 {
  margin-left: 3rem;
  color: hsl(217, 19%, 35%);
  font-weight: 500;
}
.box-4 .info {
  margin-left: 3rem;
  color: hsl(217, 19%, 35%);
  opacity: 50%;
  font-size: 13px;
}
.box-4 .about {
  font-size: 24px;
  margin: 1rem auto;
  color: hsl(217, 19%, 35%);
  font-weight: 600;
  max-width: 735px;
}
.box-4 .p {
  color: hsl(217, 19%, 35%);
  opacity: 70%;
  line-height: 18px;
  font-size: 15px;
  font-weight: 500;
  word-spacing: 2px;
}
/* Patrick */
.box-5 {
  background-color: hsl(219, 29%, 14%);
  grid-column: 1 / 3;
  grid-row: 3/4;
  border-radius: 10px;
  padding: 33px;
  box-shadow: 10px 20px 50px  hsl(0, 0%, 81%);
}
.Patrick img {
  border: 2px solid hsl(263, 55%, 52%);
  border-radius: 50%;
  height: 30px;
  width: 30px;
  float: left;
}
.Patrick h4 {
  margin-left: 3rem;
  color: hsl(210, 46%, 95%);
}
.box-5 .info {
  margin-left: 3rem;
  color: hsl(210, 46%, 95%);
  opacity: 50%;
  font-size: 13px;
}
.box-5 .about {
  font-size: 24px;
  margin: 1rem auto;
  color: hsl(0, 0%, 100%);
  font-weight: 400;
  max-width: 735px;
}
.box-5 .p {
  color: hsl(0, 0%, 100%);
  opacity: 70%;
  line-height: 18px;
  font-size: 15px;
  font-weight: 200;
  word-spacing: 2px;
}

/* code for footer */
/* .attribution { 
  font-size: 11px; text-align: center; 
}

.attribution a { 
  color: hsl(228, 45%, 44%); 
} */


}